@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

:root {
    --col1:#DEFCF9;
    --col2:#CADEFC;
    --col3:#C3BEF0;
    --col4:#CCA8E9;
}

body,input{font-family:"Fira sans";}

body {
    background-color:var(--col3);
}

h1 {
    font-weight:100;
    text-align:center;
}

.card {
    background-color:var(--col2);

    margin:0 auto;
    padding:1em;
    width:70%;

    border-radius:5px;
    box-shadow:0px 3px 3px 1px #00000044;
}

.input, p {
    margin:0.8em 0;
}

#pieces {
    appearance: textfield;
}

#pieces, #btnCrop, #clear, #sourceView, #downloadAll {
    background-color:var(--col1);
    border-radius:3px;
    padding:0.4em;
    border:none;
    box-shadow:0px 1px 1px 0px #00000044;
    transition:background-color 0.2s;
}

#btnCrop:hover, #clear:hover, #sourceView:hover, #downloadAll:hover {
    background-color:var(--col3);
}

#pieces:focus {
    background-color:var(--col3);
    outline:none;
}

#source {
    display:none;
}

#preview>canvas {
    max-width:100%;
    margin:0 auto;

    border-radius:5px;
    box-shadow:0px 3px 3px 1px #00000044;
}

#output>canvas {
    max-width:25%;
    border-radius:5px;
    box-shadow:0px 3px 3px 1px #00000044;
    margin-right:0.5em;
}